@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.boxed-p {
  border: 1px solid #ddd;
  margin: 20px 0px;
  padding: 15px;
  background: #eee;
}

main {
  min-width: 320px;
  /*max-width: 800px;*/
  padding: 50px;
  margin: 0 auto;
  background: #fff;
}

.tab-section section {
  display: none;
  padding: 20px 0 0;
  border-top: 1px solid #ddd;
}

.tab-section input {
  display: none;
}

.tab-section label {
  display: inline-block;
  margin: 0 0 -1px;
  padding: 15px 25px;
  font-weight: 600;
  text-align: center;
  color: #bbb;
  border: 1px solid transparent;
  pointer: cursor;
  width: 16%;
}

.tab-section label:before {
font-family: fontawesome;
 font-weight: normal;
 margin-right: 10px;
}

label[for*='1']:before {
  content: '\f13a';
}

label[for*='2']:before {
  content: '\f185';
}

label[for*='3']:before {
  content: '\f186';
}

label[for*='4']:before {
  content: '\f0f4';
}

label[for*='5']:before {
  content: '\f030';
}

label[for*='6']:before {
  content: '\f09d';
}

.tab-section label:hover {
  color: #888;
  cursor: pointer;
}

.tab-section input:checked + label {
  color: #555;
  border: 1px solid #ddd;
  border-top: 2px solid orange;
  border-bottom: 1px solid #fff;
}

#tab1:checked ~ #content1,
#tab2:checked ~ #content2,
#tab3:checked ~ #content3,
#tab4:checked ~ #content4,
#tab5:checked ~ #content5,
#tab6:checked ~ #content6 {
  display: block;
}

@media screen and (max-width: 650px) {
  .tab-section label {
    font-size: 0;
  }

  .tab-section label:before {
    margin: 0;
    font-size: 18px;
  }
}
@media screen and (max-width: 400px) {
  .tab-section label {
    padding: 15px;
  }
}

.tab-section {
  margin-top: 40px;
  margin-bottom: 40px;
}

ul {
  list-style: disc;
}

figcaption {
  margin-top: 40px;
  margin-bottom: 40px;
  font-size: 16px;
  font-weight: 600;
}

.selected-pkg-text {
  margin-bottom: 30px;
  font-weight: 600;
  padding-left: 15px;
}

.collapsed-txt {
  margin-top: 5px;
  margin-bottom: 5px;
  max-height: 100px; 
  overflow: hidden;
  border: 1px solid #ccc;
  padding: 20px 10px;
  background-color: #e7e6e3;
}

section#content5 .col-md-3 .thumbnail img {
    width: 266px !important;
    height: 400px !important;
}
.carousel-inner {
  height: 300px;
}







/* Responsive CSS for Ochulo Travel Home Page */
@media screen and (max-width: 760px) {
  .logo_wrapper {
    margin-top: -15px !important;
  }.logo_wrapper img {
    width: 50% !important;
  }div.tp-bgimg {
   display: none !important; 
  }.tp-parallax-wrap ul li{
    width: 100% !important;
  }div#1__col2__100, div#1__col3__100 {
    display: none !important;
  }div#1__col4__100 div.one.withsmallpadding.ppb_content_half_bg.withbg  {
    margin-top: 50px !important;
    margin-bottom: 50px !important;
  }div.one.fullwidth.container div.col-md-6 h5,  div.one.fullwidth.container div.col-md-6 p, div.one.fullwidth.container div.col-md-6.pull-right{
    display: none !important;
  }
}
